body{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}
#mySidebar{
    display:flex;
    flex-direction:column;
    gap: 1vh;
}
.w3-padding-64{
    display: contents;
}
#demoAcc{
    display: contents;
}
#demoAcc a{
    margin-left: 2vh;
}
#mySidebar a:nth-child(7){
    margin-bottom: 5vh;
}
img{
    max-width: 100%;
}
#subscribe p input{
    width: 100%;
}
#subscribe p{
    padding-left: 1vh;
    padding-right: vh;
}
#subscribe h1{
    padding-left: 1vh;
    padding-right: vh;
}
#subscribe button{
    margin-left: 1vh;
    margin-bottom: 2vh;
}
#product-grid img{
max-width: 100%;
}
#product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vh;

}
.w3-container:nth-child(1) {
    order: 1; /* Mantém a ordem da primeira imagem */
  }
  


.w3-container::before{
    content:unset;
}
#product-grid::before{
    content:unset;
}
.w3-container::after{
    content:unset;
}
#product-grid::after{
    content:unset;
}
#product-grid button{
    display: none;
}
.w3-row-padding {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
  }
  
  .w3-col {
    width: calc(100% / 3);
    padding: 15px;
    box-sizing: border-box;
  }

form button{
    width: 88%;
  }
  .w3-padding-24{
    padding:2vh;
  }

